body
{
    background-color: white;
}

.social-links
{
    font-size: 50px;
    text-align: center;
    margin-top: 20%;
}

.social-links a
{
    width: 50px;
    height: 50px;
    line-height: 25px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: #10B981;
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.0000);
}

.social-links a:hover
{
    color: black;
}

.social-links a:hover:before
{
    background: #111;
}
.social-links a i,
.social-links a span
{
    position: relative;
    top: 2px;
    left: 1px;

}